<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ISalaryMapper">
 <insert id="sava" parameterType="com.po.Salary">
 	insert into salary(eid,emoney) values(#{eid},#{emoney})
 </insert>
 
 <delete id="delByeid" parameterType="int">
 	delete from salary where eid=#{eid}
 </delete>
 <select id="findByeid" parameterType="int" resultType="com.po.Salary">
 	select * from salary where eid=#{eid}
 </select>
 <update id="update" parameterType="com.po.Salary">
 	update salary set emoney=#{emoney} where eid=#{eid}
 </update>
</mapper>